@{
    ViewBag.Title = "About";
}
<center><h2>@ViewBag.Title</h2></center>
@*<h3>@ViewBag.Message</h3>*@
<br>
<br>
<br>
<center><p style="font-family:Technical; color:saddlebrown; font-size:30px">Music brings people together.</p>
    <p style="font-family:Technical; color:orangered; font-size:29px">At <font size="35">RETROrecords</font>, we make it easy to find your favorite vinyls and uncover some hidden classics.</p>
    <p style="font-family:Technical; color:darkorange; font-size:30px">Take a gander on our site and find your favorite vinyls by artist or genre.</p></center>


<br />
<br />
<br />
